table > thead > tr > th,
table > tbody > tr > td{
    line-height: 13px;
}




#sidebar {
    width: 400px; margin: 10px; float: left;
}

#prjtree{
    height: 100%; overflow: auto; border: 1px solid;
}

#content{
    margin: 10px; float: left;
}

#mainview{
    height: 70%; margin-bottom: 10px
}

#subview{
    height: 30%; overflow-y: scroll;
}

#subview > #detail_list{
    border: 1px solid;
}

#content > #mainview{
    border: 1px solid;
}