
/*.vertical_fluid [class*="vertical_layout"] {

}
.span9 {
    height: 100%;
    margin-bottom: 30px;
}*/
.vertical_layout3 {
    height: 33.3333333333333%;
}

.vertical_layout9 {
    height: 63.3333333333333%;
    margin-bottom: 3.3333333333333%;
}