/*rect {
    fill: #fff;
}*/


#package  {
    stroke-width: 3px;

    stroke: #f7d27d;
    fill: none;
}

#package:hover {
    cursor: pointer;
    opacity: 0.4;
}


#setpackage  {
    stroke-width: 3px;

    stroke: #f7d27d;
    fill: none;
}

#setpackage:hover {
    cursor: pointer;
    opacity: 1;
}

#JavaClass  {
    stroke-width: 3px;

    stroke: #6da77d;
    fill: none;
}

#JavaClass:hover {
    cursor: pointer;
    opacity: 0.4;
}
#setJavaClass  {
    stroke-width: 3px;

    stroke: #6da77d;
    fill: none;
}

#setJavaClass:hover {
    cursor: pointer;
    opacity: 1;
}


#Interface  {
    stroke-width: 3px;
    stroke: #9589c1;
    fill: none;
}

#Interface:hover {
    cursor: pointer;
    opacity: 0.4;
}
#setInterface   {
    stroke-width: 3px;
    stroke: #9589c1;
    fill: none;
}

#setInterface :hover {
    cursor: pointer;
    opacity: 1;
}

#JavaMethod  {
    stroke-width: 3px;

    stroke: #7daf76;
    fill: none;
}

#JavaMethod:hover {
    cursor: pointer;
    opacity: 0.4;
}
#JavaMethod  {
    stroke-width: 3px;

    stroke: #7daf76;
    fill: none;
}

#JavaMethod:hover {
    cursor: pointer;
    opacity: 1;
}


#setnode > rect {
    stroke-width: 3px;
    stroke: #333;
    fill: none;
}

#setnode:hover {
    cursor: pointer;
    opacity: 1;
}


#node > rect {
    stroke-width: 3px;
    stroke: #333;
    fill: none;
}

#node:hover {
    cursor: pointer;
    opacity: 0.4;
}

#edge rect {
    fill: #fff
}

#edge path {
    fill: none;
    stroke: #333;
    stroke-width: 1.5px;
}

#edge:hover {
    cursor: pointer;
    opacity: 0.4;
}


#MainSVG {
    background-color: #ffffff;
    /*border: 1px solid #999;*/
}